<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/development/" | absURL }}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "categories/golang/" | absURL }}">Calendar</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">Write Up's</a>
</li>

<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">Sponsors</a>
</li>

<li class="nav-item">
    <a class="nav-link active" href="{{ "about/" | absURL }}">Contact/Join</a>
</li>